* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
}

/* secction1 */
.first_container {
    width: 100%;
    height: 1100px;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* title */
.box_title {
    width: 1215px;
    height: 54px;
}

.first_title {
    font-size: 40px;
    line-height: 54px;
    text-align: center;
}

/* box img section 1 */
.container_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_img1,
.box_img2 {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 35px auto;
    padding: 0 16px;
}

.content_img1,
.content_img2 {
    width: 379px;
    height: 617.89px;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.content_img1 {
    background-image: url('./img/img1.png');
}

.content_img2 {
    background-image: url('./img/img2.png');
}

/* section 1 info */
.first_info {
    width: 810px;
    height: 192px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    text-indent: 40px;
    padding-right: 40px;
    color: #2C2A29;

}

/* kết thức section 1 */

/* section 2 */
/* layout */
.second_container {
    width: 1376px;
    height: 1608px;
    margin: 0 auto;
}

.second_box_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    padding: 4px 0px;

}
/* image */
.second_content_img1,
.second_content_img2 {
    width: 50%;
    border-radius: 24px;
    height: 100%;
    margin: 0 4px;
}

.second_content_img1 {
    background-image: url('./img/img3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
}

.second_content_img2 {
    background-color: #F4F0EA;
    padding: 294px 48px 49px 48px;
}
.img2{
background-image: url('./img/img4.png');
}
/* info */
.second_content_info {
    width: 587px;
    height: 458px;
}

.second_title {
    font-size: 64px;
    line-height: 74px;
    margin-bottom: 24px;
}

.second_heading {
    font-size: 20px;
    line-height: 30px;
    margin-top: 8px;
}

.text_info {
    margin-bottom: 24px;
    width: 100%;
}
